{% extends 'base.html' %}

{% load static %}

{% block title %}
  <h1>My notes</h1>
  <span class="subheading">My Personal Blog</span>
{% endblock title %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in post_list %}
          <div class="post-preview">
            <a href="{{ post.get_absolute_url }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.excerpt }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.created_time|date:"Y-n-d H:i:s" }}</p>
          </div>
        {% empty %}
          <div class="no-post">暂时还没有发布的文章！</div>
        {% endfor %}
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
